<hr class="border border-black" />
<div class="row gap-3 p-2 bg-secondary">
  <div class="col-lg-3"><h6>col1</h6></div>
  <div class="col-lg-3"><h6>col2</h6></div>
  <div class="col-lg-3"><h6>col3</h6></div>
</div>
