<% layout('./layouts/boilerplate') -%>
<form
  class="row g-3 offset-lg-4 col-lg-4 border border-secondary rounded p-5 mt-auto needs-validation"
  action="/resetPassword"
  method="post"
  novalidate>
  <div class="d-flex justify-content-center mb-3">
    <a class="navbar-brand" href="/">
      <i
        class="fa-solid fa-book fs-3"
        style="color: #4e1309"
        width="30"
        height="24"></i>
    </a>
  </div>
  <h2 class="text-center">Reset Password</h2>

  <div class="form-floating mb-3">
    <input
      type="tel"
      class="form-control"
      id="mobileNo"
      placeholder="Mobile no"
      name="username"
      required />
    <label for="mobileNo" class="form-label">Enter Your Registerd Number</label>
    <div class="valid-feedback">Looks good!</div>
  </div>

  <div class="col-12">
    <button class="btn btn-danger" type="submit">Reset</button>
  </div>
</form>
