<% layout('./layouts/boilerplate') -%>
<div
  class="row offset-lg-4 col-6 d-flex justify-content-center align-items-center overflow-auto alert alert-danger"
  role="alert">
  <div>
    <h1>Page Not Found</h1>

    <p><span><%= status %></span><%= err.message %></p>
    <p><%= err %></p>
    <a href="/">back to home page</a>
  </div>
</div>
