<div
  class="row p-2 gap-2 mb-3 d-flex justify-content-sm-center bg-body-tertiary border rounded border-secondary">
  <div class="card" style="width: 18rem">
    <a href="/category/delhi">
      <img
        src="../assets/delhi.jpeg"
        class="card-img-top p-1 rounded-5"
        alt="delhi"
        style="height: 15rem" />
    </a>
    <div class="card-body">
      <a href="/category/delhi">
        <h5 class="card-title text-center">Delhi</h5>
      </a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <a href="/category/noida">
      <img
        src="../assets/noida.jpeg"
        class="card-img-top p-1 rounded-5"
        alt="Noida"
        style="height: 15rem" />
    </a>
    <div class="card-body">
      <a href="/category/noida">
        <h5 class="card-title text-center">Noida</h5>
      </a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <a href="/category/gurgaon">
      <img
        src="../assets/gurgaon.jpeg"
        class="card-img-top p-1 rounded-5"
        alt="gurgaon"
        style="height: 15rem" />
    </a>
    <div class="card-body">
      <a href="/category/gurgaon">
        <h5 class="card-title text-center">Gurgaon</h5>
      </a>
    </div>
  </div>
</div>
<hr class="border border-black" />
